html {
  direction: ltr;
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/eot/iranyekanwebthinfanum.eot');
  src: url('/fonts/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/woff/iranyekanwebthinfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/ttf/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/eot/iranyekanweblightfanum.eot');
  src: url('/fonts/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/woff/iranyekanweblightfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/eot/iranyekanwebregularfanum.eot');
  src: url('/fonts/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/woff/iranyekanwebregularfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/eot/iranyekanwebmediumfanum.eot');
  src: url('/fonts/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/woff/iranyekanwebmediumfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/eot/iranyekanwebboldfanum.eot');
  src: url('/fonts/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/woff/iranyekanwebboldfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/eot/iranyekanwebextraboldfanum.eot');
  src: url('/fonts/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/woff/iranyekanwebextraboldfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 850;
  src: url('/fonts/eot/iranyekanwebblackfanum.eot');
  src: url('/fonts/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/woff/iranyekanwebblackfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/ttf/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/eot/iranyekanwebextrablackfanum.eot');
  src: url('/fonts/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/woff/iranyekanwebextrablackfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
}

$global-font-family: IRANYekan, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$global-color: #131313;
$global-primary-background: #FFAA1A;
$global-danger-background: #FF271A;
$global-success-background: #17CA1E;
$dotnav-item-width: 15px;
$dotnav-item-background: white;
$dotnav-item-active-background: $global-danger-background;
$dotnav-item-hover-background: $global-danger-background;
$global-muted-background: #f3f3f3;
$tab-border-width: 3px;
$tab-item-border-width: 3px;

@import "~uikit/src/scss/variables-theme";
@import "~uikit/src/scss/mixins-theme";
@import "~mapbox-gl/dist/mapbox-gl.css" /*!rtl:ignore*/
;

$notification-width: 400px;
$notification-message-font-size: $global-small-font-size;
$notification-message-primary-color: white;
$notification-message-success-color: white;
$notification-message-warning-color: white;
$notification-message-danger-color: white;

@import "~uikit/src/scss/uikit-theme.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

.uk-button-success {
  background: $global-success-background;
}

.uk-button-success:disabled {
  background-color: transparent !important;
  color: #999 !important;
  border-color: #e5e5e5 !important;
}


.uk-background-danger {
  background: $global-danger-background;
}

.uk-background-muted-darker {
  background: #e7e7e7;
}

.uk-button-success:hover {
  background: darken($global-success-background, 5%);
}

.uk-notification-message {
  //@extend .uk-border-rounded;
}

.uk-notification-message.uk-notification-message-success {
  background-color: $global-success-background;
}

.uk-notification-message.uk-notification-message-danger {
  background-color: $global-danger-background;
}

.uk-notification-message.uk-notification-message-info {
  background-color: $global-primary-background;
}

.uk-notification-message.uk-notification-message-warning {
  background-color: $global-warning-background;
}

.marker {
  background-size: cover;
  width: 50px;
  height: 50px;
}

.marker.default {
  background-image: url('/uploads/xigma_logo.png');
}

.marker.pin {
  background-image: url('/uploads/marker.png');
  width: 30px !important;
  height: 30px !important;
}

.marker.factory {
  background-image: url('/uploads/factory.png');
}

.mapboxgl-marker {
  right: 0 !important;
  left: unset !important;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.special-title {
  padding: 1.4rem 6rem;
  border-bottom-right-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem;
}

.uk-text-line-through {
  text-decoration: line-through;
}

.uk-text-medium {
  font-size: 1.4rem;
}

.uk-box-shadow-hover-medium:hover {
  box-shadow: 0 0 10px #D0D0D0;
}

.uk-text-white {
  color: white;
}

a.uk-text-white:hover {
  color: darken(white, 5%);
}

.product-card {
  transition: all 0.5s ease;
}

.product-card:hover {
  background-color: $background-default-background;
}

.main-slider-container .slider-box::after {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  background: url("/uploads/diagonal-lines.png");
  background-size: cover;
  background-position: center;
}

.uk-text-bolder {
  font-weight: 800;
}

.uk-text-large {
  font-size: 1.7rem;
}

input.apple-switch {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: 1px solid $global-muted-background;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 $global-muted-background;
  cursor: pointer;
  //transition: all 0.3s ease;
}

input.apple-switch:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.apple-switch:checked {
  box-shadow: inset 20px 0 0 0 $global-primary-background;
  border-color: $global-primary-background;
}

input.apple-switch:checked:after {
  right: 20px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

hr {
  border-top: 1px solid #bdbdbd;
}

.star-filled polygon {
  fill: $global-primary-background;
  stroke: darken($global-primary-background, 5%) !important;
}

.star > svg > polygon {
  stroke: #FFAA1A !important;
}

.ck-content table {
  @extend .uk-table;
  @extend .uk-table-striped;
}

.ck-content figure.table {
  width: 100%;
}

.ck-content table, .ck-content tr, .ck-content td {
  border: none !important;
}

.clickable {
  cursor: pointer;
}

.vpd-actions > button {
  font-family: $global-font-family !important;
}

[v-cloak] {
  display: none;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.profile-nav-item {
  transition: all 0.2s ease;
}

.profile-nav-item:hover {
  transform: translateX(10px);
}

.uk-padding-xsmall {
  padding: 5px;
}

table.full-bordered {
  border: 1px solid gainsboro;
}

table.full-bordered th, table.full-bordered td {
  border: 1px solid gainsboro;
}

.nav-pattern {
  height: 11.5em;
  position: absolute;
  z-index: 8;
  background: url('/uploads/bg-pattern.png');
  margin-top: 4.5em;
  width: 100%;
}

.home-nav {
  z-index: 10;
}

@media (max-width: $breakpoint-medium) {
  .nav-pattern {
    margin-top: 0 !important;
    height: auto !important;
  }

  .header-cart-container {
    padding: $global-small-gutter 0 !important;
  }

  .padding-small\@m {
    padding: $global-small-gutter !important;
  }

  .mobile-search-container {
    padding-right: 0 !important;
  }
  .search-input-container {

  }

  .padding-remove\@m {
    padding: 0 !important;
  }

  .text-small\@m, .text-small\@m * {
    font-size: $global-small-font-size !important;
  }

  .home-nav {
    position: relative !important;
    width: 100%;
  }

  .special-title {
    padding: 1rem 3rem !important;
    font-size: 1.4rem !important;
  }
}

.uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle {
  min-height: 0;
}

[v-cloak] {
  display: none;
}

[v-cloak] > * {
  display: none;
}

[v-cloak]::before {
  content: "Loading..."
}